<section class="resume-section summary-section mb-5">
  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
  <div class="resume-section-content">
    <p class="mb-0">Sempre apaixonado por aprender, no início de 2006 comecei um curso técnico em informática e a
      partir daí me senti desafiado a aprender cada vez mais sobre como é desenvolver um software da forma mais
      simples a mais complexa. Comecei na área de suporte ao cliente, mas sempre estudando Java, html, sql e
      outras
      tecnologias relacionadas ao desenvolvimento web. Foi então que em 2013 consegui um estágio na área de
      desenvolvimento
      de software e me sinto amadurecer dia após dia. Atualmente, trabalho, principalmente, com Javaee, mas
      continuo
      estudando outras linguagens, como Ruby, Javascript e outras. Gosto também de estudar tudo que envolve a
      tecnologia
      Spring, como o Spring MCV, Spring Security, Spring Data, dentre outros.</p>
  </div>
</section>