<article class="resume-wrapper text-center position-relative">
  <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
    <app-header></app-header>
    <div class="resume-body p-5">
      <app-summary></app-summary>
      <!--//summary-section-->
      <div class="row">
        <div class="col-lg-9">
          <app-experience></app-experience>
          <!--//experience-section-->
        </div>
        <div class="col-lg-3">
          <app-skills></app-skills>
          <!--//skills-section-->
          <app-education></app-education>
          <!--//education-section-->
          <app-reference></app-reference>
          <!--//interests-section-->
          <app-language></app-language>
          <!--//language-section-->
          <app-interests></app-interests>
          <!--//interests-section-->
        </div>
      </div>
      <!--//row-->
    </div>
    <!--//resume-body-->

  </div>
</article>